h1 {
    color: #73dca7;
    font-size: 380%;
    padding-bottom: 5%;
}


  
.button {  
    background-color: #28b6f6;
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
    width: 180px;
    justify-content: center;
    margin-top: 50px;
    color: #152641;
    cursor: pointer;
    border: #28b6f6;
}
  

.seccion{
    height: 450px;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.image-landing{
    width: 80%;
    height: 80%;
    padding: 5%;
    margin: auto;
    display: block;
}

.max-content{
    min-width: 66.66666%;
    max-width: 66.66666%;
}

.last-line{
    line-height: 1%;
    padding: 0% 0% 5% 0%;
}

.seccion-padding{
    padding: 2%;
}

ul{
    line-height: 200%;
}