h1 {
  color: var(--primary-color);
  font-size: 320%;
  padding-bottom: 5%;
}

.landing-button {
  font-weight: 600;
  font-size: 16px;
  height: 50px;
  width: 180px;
  margin-top: 50px;
}

.box-seccion {
  height: 450px;
  padding: 10px;
}

.box-landing {
  width: 80%;
  height: 100%;
  padding: 40px;
}

.landing-p {
  font-size: 16px;
  line-height: 200%;
  padding-bottom: 20px;
}

.image-landing {
  height: 100%;
}

.max-content  {
  min-width: 66.66666%;
  max-width: 66.66666%;
}

ul {
  line-height: 200%;
}

@media (max-width: 640px) {}

@media (max-width: 768px) {
  .seccion {
    height: auto;
  }
  .image-landing {
    display: none;
  }
  .max-content {
    min-width: 100%;
    max-width: 100%;
  }

  .seccion-padding {
    padding: 5%;
  }
  #landing {
    flex-direction: column;
  }

  h1 {
    transition: 0.3s ease-in-out;
    font-size: 200%;
  }

  .box-seccion {
    height: auto;
    flex-direction: column;
    gap: 10px;
    margin: 0 !important;
  }

  .box-landing {
    max-width: 100%;
  }

  footer{
    flex-direction: column;
  }

  header>div>a>img{
    display: none;
  }
  
  header {
    justify-content: center !important;
    min-height: 4vh;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 1280px) {
  .seccion {
    height: auto;
    transition: 0.3s ease-in-out;
  }
  .image-landing {
    max-width: 40%;
    transition: 0.3s ease-in-out;
  }
  .max-content {
    min-width: 100%;
    max-width: 100%;
    transition: 0.3s ease-in-out;
  }

  .seccion-padding {
    padding: 5%;
    transition: 0.3s ease-in-out;
  }
  /* #landing {
    flex-direction: column;
    transition: 0.3s ease-in-out;
  } */

  h1 {
    transition: 0.3s ease-in-out;
    font-size: 250%;
  }

  .box-seccion {
    transition: 0.3s ease-in-out;
    margin-top: 50px;
  }

  .box-landing {
    transition: 0.3s ease-in-out;
    max-width: 100%;
  }
}

@media (max-width: 1536px) {}