.login-container {
  width: 100%;
  height: 100%;
}

.login-form {
  width: 20vw;
  height: 30vh;
  padding: 10px 20px;
}

.login-img{
  width: 110px;
  height: 110px;
}

.login-btn {
  width: 40%;
  height: 40px;
  margin-top: 10px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 5px;
}