.unread-notification {
  border-left: 4px solid var(--primary-color);
  background-color: #1d3357;
}

svg, path { /* This is to prevent the svg from being selected */
  pointer-events: none;
}
