#main-content {
    height: 80vh;
}

.puesto-PP {
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
}

.seccion {
    margin: 2% 0% 2% 2%;
}

.search {
    width: 100%;
    height: fit-content;
}

.filtros {
    padding: 1%;
}

.titulos {
    padding-bottom: 3%;
}

#minsalario {
    width: 100%;
}

button {
    float: right;
}

.slider-input:focus {
    border: none !important;
    box-shadow: none !important;
}

.padiv {
    padding-right: 3%;
    padding-bottom: 2%;
}