#profile-img{
margin: 20% 20%;
border-radius: 50%;
width: 50%;
}

.profile-paragraph-center{
  text-align: center;
  margin: 30px 30px;
}

.profile-paragraph-{
  text-align: left;
  margin: 30px 30px;
}