#div-usuarios {
  display: none;
}

#div-empresas {
  display: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

label {
  font-weight: bold;
  text-align: left;
  clear: both;
  margin-right: 15px;
}

.div-exp {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 20px;
}