/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* css variables */
:root {
  --primary-color: #73dca7;
  --secondary-color: #28b6f6;
  --background-color: #152641;
}

/* global styles and selector */
html * {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  color: #fff;
}

header {
  margin: 20px 10px;
  color: var(--primary-color);
  min-height: 5vh;
}

main {
  margin: 20px 10px;
}

footer {
  background-color: var(--primary-color);
  min-height: 5vh;
}

hr {
  border: 1px solid var(--secondary-color);
}

nav a {
  color: var(--primary-color);
}
nav a:hover {
  color: var(--secondary-color);
}

select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}

select:focus{
  outline: none;
  border: 2px solid var(--primary-color);
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
}

input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color) ;
}

/* Chrome autofill background color fix */
input:-webkit-autofill { 
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset;
  -webkit-text-fill-color: #fff;
}

textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  color: #fff; 
}

/* utility rehusable classes  */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow1 {
  flex-grow: 1;
}

.flex-grow2 {
  flex-grow: 2;
}

.flex-gap-10 {
  gap: 10px;
}
.flex-gap-20 {
  gap: 20px;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-center { 
  align-items: center;
}

.border {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}

/* Custom Clases & IDs */

#main-content {
  padding: 0 15px;
}

.main-button {
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  width: 75px;
  text-align: center;
}

.input-validation-error {
  outline: none;
  border: 2px solid #ff1e1e !important;
  box-shadow: 0 0 10px #ff1e1e !important;
}
