/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* css variables */
:root {
  --primary-color: #73dca7;
  --secondary-color: #28b6f6;
  --background-color: #152641;
}

/* global styles and selector */
html,
body {
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: var(--background-color);
  height: 100%;
}

header {
  min-height: 5vh;
  margin: 20px 30px;
  color: var(--primary-color);
  top: 0;
  left: 0;
  position: sticky;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--secondary-color);
}

main {
  margin: 20px 30px;
}

footer {
  background-color: var(--primary-color);
  color: var(--background-color);
  height: auto;
  font-weight: 600;
  width: 100%;
  padding: 0 20px;
}

footer>p>a {
  color: var(--background-color)
}

footer>p>a:hover {
  color: var(--secondary-color)
}

hr {
  border: none;
  border-top: 1px solid var(--secondary-color);
}

nav {
  margin-right: 20px;
}

nav a {
  color: var(--primary-color);
}
nav a:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}

h1, h2 {
  color: var(--primary-color);
}

select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  color: #fff;
}

select:focus{
  outline: none;
  border: 2px solid var(--primary-color);
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  color: #fff;
}

input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color) ;
}

::placeholder{
  color: #fff;
  opacity: 0.8;
}

textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  color: #fff; 
}

textarea:focus {
  outline: none;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color) ;
}

/* Chrome autofill background color fix */
input:-webkit-autofill { 
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset;
  -webkit-text-fill-color: #fff;
}



/* utility rehusable classes  */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow1 {
  flex-grow: 1;
}

.flex-grow2 {
  flex-grow: 2;
}

.flex-gap-5 {
  gap: 5px;
}

.flex-gap-10 {
  gap: 10px;
}
.flex-gap-20 {
  gap: 20px;
}

.flex-gap-40 {
  gap: 40px;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-center {
  justify-content: center;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-align-center { 
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.border {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.padding-box {
  padding: 20px ;
}

/* Custom Clases & IDs */

#left-column {
  min-height: 80vh;
  width: 33.3333333%;
}

#main-content {
  min-height: 80vh;
  width: 100%;
}

.main-content-box{
  height: 100%;
  padding: 30px;
}

.main-button {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  color: #000000;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.main-button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: 1px solid var(--background-color);
}

#right-column {
  min-height: 80vh;
  width: 33.3333333%;
}

.input-validation-error {
  outline: none;
  border: 2px solid #ff1e1e !important;
  box-shadow: 0 0 10px #ff1e1e !important;
}